@model TVAttendance.ViewModels.AttendanceVM

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Attendance</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Session)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Session.Summary)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Session.Notes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Session.Notes)
        </dd>
        <dt class="col-sm-2">
            Attendees
        </dt>
        <dd class="col-sm-10"> <!--This code is the same as the index view, just changed item to Model-->
            @{
                int attendedCount = Model.Singers.Count; //Total number of attendees
                if (attendedCount > 0)
                { //if we have a singer who attended the session
                  //Get the first singer in the AttendanceVM list of singers
                    string firstSinger = Model.Singers.FirstOrDefault().FullName;

                    if (attendedCount > 1) //If we multiple attendees to the session
                    {
                        string singerList = ""; //Create an html list of singers seperated by <br/> tags
                        var s = Model.Singers.ToList();

                        for (int i = 1; i < attendedCount; i++)
                        { //Skip the first singer
                            singerList += s[i].FullName + " <br/>";
                        }
                        //Bootstrap dropdownlist code from GymManagement solution
                        <a class="" role="button" data-bs-toggle="collapse" href="#collapseSinger@(Model.Session.ID)"
                           aria-expanded="false" aria-controls="collapseSinger@(Model.Session.ID)">
                            @firstSinger <span class="badge bg-info">@attendedCount</span>
                        </a>
                        <div class="collapse" id="collapseSinger@(Model.Session.ID)">
                            @Html.Raw(singerList)
                        </div>
                    }
                    else
                    {
                        @firstSinger
                        ;
                    }
                }
            }
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { @id = Model.Session.ID }) |
    <a asp-action="Index">Back to List</a>
</div>
