@model TVAttendance.Models.Shift

@{
    ViewData["Title"] = "Details";
    var eventId = (int?)ViewBag.EventID ?? 0;

}

<h1>Details</h1>

<div>
    <h4>Shift</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Event)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Event.EventCity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ShiftStart)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ShiftStart)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ShiftEnd)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ShiftEnd)
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-outline-success" asp-action="Edit" asp-route-id="@eventId">Edit</a> |
    <a class="btn btn-outline-secondary" asp-action="Index" asp-route-EventID="@eventId" asp-controller="EventShift">Back to Event</a>
</div>
