@model TVAttendance.Models.Shift

@{
    ViewData["Title"] = "Edit Shift";
    var eventRange = ViewData["EventRange"];
    var eventStart = ViewData["EventStart"] as DateTime?;
    var eventEnd = ViewData["EventEnd"] as DateTime?;

    var eventMin = eventStart?.Date.ToString("yyyy-MM-ddTHH:mm");
    var eventMax = eventEnd?.Date.AddHours(23).AddMinutes(59).ToString("yyyy-MM-ddTHH:mm");
}

<h1>Edit Shift</h1>

<hr />
<form asp-action="Edit" method="post">
    <div class="row">
        <div class="col-md-4">
            <input type="hidden" id="event-start" value="@eventStart?.ToString("yyyy-MM-dd")" />
            <input type="hidden" id="event-end" value="@eventEnd?.ToString("yyyy-MM-dd")" />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="EventID" value="@Model.EventID" />
            <input type="hidden" asp-for="ID" />

            <div class="form-group">
                <label asp-for="ShiftStart" class="control-label"></label>
                <input id="new-shift-date" type="datetime-local" asp-for="ShiftStart" class="form-control"
                       value="@Model.ShiftStart.ToString("yyyy-MM-ddTHH:mm")"
                       min="@eventMin"
                       max="@eventMax" />
                <span asp-validation-for="ShiftStart" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ShiftEnd" class="control-label"></label>
                <input type="datetime-local" asp-for="ShiftEnd" class="form-control"
                       value="@Model.ShiftEnd.ToString("yyyy-MM-ddTHH:mm")"
                       min="@eventMin"
                       max="@eventMax" />
                <span asp-validation-for="ShiftEnd" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input id="btn-save" type="submit" value="Save" class="btn btn-primary" />

                <a class="btn btn-outline-secondary" asp-action="Index" asp-controller="EventShift"
                   asp-route-EventID="@Model.EventID">Back to Event</a>
            </div>
        </div>
    </div>
</form>

@section Scripts {
    <script src="~/js/EditEventShift.js"></script>

    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
