@model IEnumerable<TVAttendance.Models.Singer>

@{
    ViewData["Title"] = "Index";
    var currentPage = ViewData["CurrentPage"] as int? ?? 1;
    var pageSize = ViewData["PageSize"] as int? ?? 15;
    var totalPages = ViewData["TotalPages"] as int? ?? 1;
}

<h1>Singers</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<form asp-action="Index" method="get">
    <input type="hidden" name="sortDirection" value="@ViewData["sortDirection"]" />
    <input type="hidden" name="sortField" value="@ViewData["sortField"]" />
    <div class="form-horizontal">
        <button class="btn btn-outline-secondary" type="button" data-bs-toggle="collapse" id="filterToggle" data-bs-target="#collapseFilter" aria-expanded="false" aria-controls="collapseFilter">
            Search
        </button><br />
        <div class="collapse" id="collapseFilter">
            <div class="card card-body bg-light">
                <div class="row">
                    <div class="form-group col-md-4">
                        <label class="control-label">Select by Chapter:</label>
                        @Html.DropDownList("ChapterID", null, "All Chapters", htmlAttributes: new { @class = "form-control" })
                    </div>
                    <div class="form-group col-md-4">
                        <label class="control-label">Search Singer Name:</label>
                        @Html.TextBox("SearchString", null, new { @class = "form-control" })
                    </div>
                    <div class=" form-group col-md-3">
                        <label class="control-label">Filter by Active Status:</label>
                        @Html.DropDownList("ActiveStatus", new List<SelectListItem>
                        {
                        new SelectListItem { Value = "true", Text = "Active" },
                        new SelectListItem { Value = "false", Text = "Archived" }
                        }, "All Singers", htmlAttributes: new { @class = "form-control" })
                    </div>
                    <div class="form-group col-md-4 align-self-end">
                        <input type="submit" name="actionButton" value="Filter" class="btn btn-outline-primary" />
                        <a asp-action="Index" class="btn btn-outline-dark">Clear</a>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>
                    <input type="submit" name="actionButton" value="Full Name" class="btn btn-link" />
                </th>
                <th>
                    <input type="submit" name="actionButton" value="Status" class="btn btn-link" />
                </th>
                <th class="d-none d-lg-table-cell">
                    <input type="button" value="E-Contact Phone" class="btn btn-link sort-inactive" />
                </th>
                <th class="d-none d-lg-table-cell">
                    <input type="submit" name="actionButton" value="Chapter" class="btn btn-link" />
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.FullName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Status)
                    </td>
                    <td class="d-none d-lg-table-cell">
                        @Html.DisplayFor(modelItem => item.DisplayPhone)
                    </td>
                    <td class="d-none d-lg-table-cell">
                        @Html.DisplayFor(modelItem => item.Chapter.City)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.ID">Edit</a>
                        <a asp-action="Details" asp-route-id="@item.ID">Details</a>
                        <a asp-action="Archive" asp-route-id="@item.ID">Archive</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <partial name="_PagingNavBar" />
</form>

<script>
</script>
