@model IEnumerable<TVAttendance.Models.Singer>

@{
    ViewData["Title"] = "Singer Index";
    var currentPage = ViewData["CurrentPage"] as int? ?? 1;
    var pageSize = ViewData["PageSize"] as int? ?? 15;
    var totalPages = ViewData["TotalPages"] as int? ?? 1;
}

<h1>Singers</h1>

<form asp-action="Index" method="get">
    <input type="hidden" name="sortDirection" value="@ViewData["sortDirection"]" />
    <input type="hidden" name="sortField" value="@ViewData["sortField"]" />
    <div class="form-horizontal mt-3">
        @if (User.IsInRole("Director") || User.IsInRole("Supervisor") || User.IsInRole("Admin"))
        {
            <button class="btn @ViewData["Filtering"]" type="button" data-bs-toggle="collapse" id="filterToggle"
                    data-bs-target="#collapseFilter" aria-expanded="false" aria-controls="collapseFilter" title="Click to open or close filter options.">
                Filter/Search @ViewData["numFilters"]
            </button>
        }
        @if (User.IsInRole("Supervisor") || User.IsInRole("Admin"))
        {
           <a asp-action="Create" class="btn btn-outline-success" title="Create new Singer.">Create</a> 
        }
        @if (User.IsInRole("Director") || User.IsInRole("Supervisor") || User.IsInRole("Admin"))
        {
          <input class="btn btn-outline-primary" type="submit" name="fred" value="Export" />

        <div class="collapse" id="collapseFilter">
            <div class="card card-body bg-light border-dark">
                <div class="row">
                    <div class="col-lg-3">
                        <div class="form-group" title="Filter by Chapter Location.">
                            <label class="control-label">Select by Chapter:</label>
                                @if (User.IsInRole("Director"))
                                {
                                    @Html.DropDownList("ChapterID", null, "My Chapters", htmlAttributes: new { @class = "form-control" })
                                }
                                @if (User.IsInRole("Supervisor") || User.IsInRole("Admin"))
                                {
                                    @Html.DropDownList("ChapterID", null, "All Chapters", htmlAttributes: new { @class = "form-control" })
                                }
                            </div>
                        <div class="form-group" title="Filter by singer name.">
                            <label class="control-label">Search Singer Name:</label>
                            @Html.TextBox("SearchString", null, new { @class = "form-control", @placeholder = "i. e. James" })
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="form-group" title="Filter by age that come after number.">
                            <label class="control-label">Filter from age:</label>
                            @Html.TextBox("YoungDob", null, new { @id = "young-dob", @type = "number", @class = "form-control", @min = "0", @max = "50", @placeholder = "i. e. 10" })
                        </div>
                        <div class="form-group" title="Filter by age that come before number input.">
                            <label class="control-label">Filter to age:</label>
                            @Html.TextBox("OldestDob", null, new { @id = "old-dob", @type = "number", @class = "form-control", @min = "0", @max = "50", @placeholder = "i. e. 20" })
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="form-group" title="Filter by Registration Dates that come after inputted date.">
                            <label class="control-label">Filter from Registration Date:</label>
                            @Html.TextBox("FromDate", null, new { @id = "date-older", @type = "date", @class = "form-control" })
                        </div>
                        <div class="form-group" title="Filter by Registration Dates that come before inputted date.">
                            <label class="control-label">Filter to Registration Date:</label>
                            @Html.TextBox("ToDate", null, new { @id = "date-newer", @type = "date", @class = "form-control" })
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group" title="Filter by active or inactive singers.">
                            <label class="control-label">Filter by Active Status:</label>
                            @Html.DropDownList("ActiveStatus", new List<SelectListItem>
                            {
                            new SelectListItem { Value = "true", Text = "Active" },
                            new SelectListItem { Value = "false", Text = "Archived" }
                            }, htmlAttributes: new { @class = "form-control" })
                        </div>
                        <div class="form-group align-self-end">
                            <input type="submit" name="actionButton" value="Filter" class="btn btn-outline-primary" title="Submit current filter options." />
                            <a asp-action="Index" class="btn btn-outline-dark" title="Clear all filter options">Clear</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="mt-3">
            <button class="btn btn-outline-primary" type="button" data-bs-toggle="collapse" id="bulkToggle"
                    data-bs-target="#collapseBulk" aria-expanded="false" aria-controls="collapseBulk" title="Click to open or close the Bulk Singer Upload function.">
                Bulk Singer Upload
            </button>
            <div class="collapse" id="collapseBulk">
                <div class="card card-body bg-light border-dark">
                    <partial name="_BulkUploadSinger" />
                </div>
            </div>
        </div>  
        }
        
    </div>

    <table class="table">
        <thead>
            <tr>
                <th>
                    <input type="submit" name="actionButton" value="Full Name" class="sort-arrow" title="Click to sort by singer name column" />
                </th>
                <th class="d-none d-sm-table-cell">
                    <input type="submit" name="actionButton" value="Chapter" class="sort-arrow" title="Click to sort by chapter column" />
                </th>
                <th class="d-none d-lg-table-cell">
                    <input type="button" value="Emergency Contact" title="Emergency Contact name Column" />
                </th>
                <th class="d-none d-lg-table-cell">
                    <input type="button" value="Phone" title="Emergency Contact Phone Column" />
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.FullName)
                    </td>
                    <td class="d-none d-sm-table-cell">
                        @Html.DisplayFor(modelItem => item.Chapter.City)
                    </td>
                    <td class="d-none d-lg-table-cell">
                        @Html.DisplayFor(modelItem => item.EmergFullName)
                    </td>
                    <td class="d-none d-lg-table-cell">
                        @Html.DisplayFor(modelItem => item.DisplayPhone)
                    </td>
                    <td>
                        @if (User.IsInRole("Director") || User.IsInRole("Supervisor") || User.IsInRole("Admin"))
                        {
                            <a class="btn btn-outline-primary" asp-action="Edit" asp-route-id="@item.ID" title="Click to edit record">Edit</a>
                        }
                        <a class="btn btn-outline-primary" asp-action="Details" asp-route-id="@item.ID" title="Click to view record details">Details</a>
                        @if (User.IsInRole("Director") || User.IsInRole("Supervisor") || User.IsInRole("Admin"))
                        {
                            @if (item.Status == true)
                            {
                                <a class="btn btn-outline-danger" asp-action="Archive" asp-route-id="@item.ID" title="Click to Archive record">Archive</a>
                            }
                            else
                            {
                                <a class="btn btn-outline-success" asp-action="Restore" asp-route-id="@item.ID" title="Click to restore record active status">Restore</a>
                            }
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <partial name="_PagingNavBar" />
</form>




@section Scripts {
    <script src="~/js/FilterCorrection.js"></script>
}
