@model TVAttendance.Models.Event

<div class="modal fade" id="vol-event-details-modal" tabindex="-1" aria-labelledby="vol-event-details-modal-label" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="vol-event-details-modal-label">@Model.EventName Details</h5>
                <button type="button" class="close" data-dismiss="modal" title="Close Details window" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <dl class="row">
                    <div class="col-sm-6">
                        <dt>
                            @Html.DisplayNameFor(model => model.EventName)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.EventName)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.EventStreet)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.EventStreet)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.EventCity)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.EventCity)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.EventPostalCode)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.EventPostalCode)
                        </dd>
                    </div>
                    <div class="col-sm-6">
                        <dt>
                            @Html.DisplayNameFor(model => model.EventProvince)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.EventProvince)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.EventStart)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.EventStartDate)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.EventEnd)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.EventEndDate)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.EventOpen)
                        </dt>
                        @if (Model.EventOpen)
                        {
                            <dd class="col-sm-10">Open</dd>
                        }
                        else
                        {
                            <dd class="col-sm-10">Closed</dd>
                        }
                    </div>
                </dl>
            </div>
            <div class="modal-footer">
                <div>
                    <a asp-controller="Event" asp-action="Edit" asp-route-id="@Model?.ID" class="btn btn-primary" title="Click to edit this record">Edit</a>
                    <a asp-action="Index" class="btn btn-outline-primary" title="Go to the events list">Go to Events</a>
                </div>
            </div>
        </div>
    </div>
</div>
