@model TVAttendance.Models.Volunteer

@{
    ViewData["Title"] = "Details";
}

<h1>@Model.FullName.ToString()</h1>

<div>
    <dl class="row">
        <div class="col-md-4">
            <dt class="col-md-6">
                @Html.DisplayNameFor(model => model.FirstName)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.FirstName)
            </dd>
            <dt class="col-md-6">
                @Html.DisplayNameFor(model => model.LastName)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.LastName)
            </dd>
            <dt class="col-md-6">
                @Html.DisplayNameFor(model => model.Phone)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Phone)
            </dd>
        </div>
        <div class="col-md-4">
            <dt class="col-md-6">
                @Html.DisplayNameFor(model => model.Email)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Email)
            </dd>
            <dt class="col-md-6">
                @Html.DisplayNameFor(model => model.DOB)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.DOBFormatted)
            </dd>
            <dt class="col-md-6">
                @Html.DisplayNameFor(model => model.RegisterDate)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.RegisterFormatted)
            </dd>
        </div>
    </dl>
</div>
<div>
    <a href="@ViewData["returnURL"]" class="btn btn-outline-primary" title="Return back to volunteers log.">Back to Volunteers</a>
</div>
