@using TVAttendance.Utilities
@model IEnumerable<TVAttendance.Models.Shift>

@{
    TVAttendance.Models.Volunteer volunteer = (TVAttendance.Models.Volunteer)ViewBag.Volunteer;
    <partial name="_VolunteerDetails" model="volunteer"/>
    ViewData["Title"] = "Index";
}

<h2>Upcoming Shifts</h2>

<input type="hidden" name ="VolunteerID" value="@volunteer.ID"/>

@{
    DateTime today = DateTime.Now;
    var todayShift = Model.Where(s => s.ShiftDate.ToDateTime(TimeOnly.MinValue).Date.CompareTo(today.Date.AddDays(7)) < 0
        && s.ShiftDate.ToDateTime(TimeOnly.MinValue).Date.CompareTo(today.Date) >= 0);

    if (todayShift.Count() == 0)
    {
        <hr />
        <p>No Shifts within the next 7 days.</p>
    }
    else{
        <table class="table" title="Upcoming Shifts within the next 7 days will appear here">
            <thead>
                <tr>
                    <th title="Event Name column.">
                        @Html.DisplayNameFor(model => model.Event.EventName)
                    </th>
                    <th class="d-none d-sm-table-cell" title="Shift Date column.  The Day the shift occurs">
                        @Html.DisplayNameFor(model => model.ShiftDate)
                    </th>
                    <th class="d-none d-md-table-cell" title="Shift Range column.  The hours of a given shift from start to end.">
                        @Html.DisplayNameFor(model => model.ShiftRange)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in todayShift)
                {
                    string shiftClass = "";

                    if (item.ShiftDate.ToDateTime(TimeOnly.MinValue).Date == today.Date)
                    {
                        shiftClass = " shift-today";
                    }

                    <tr class="@shiftClass">
                        <td title="Event Name column.">
                            @Html.DisplayFor(model => item.Event.EventName)
                        </td>
                        <td class="d-none d-sm-table-cell" title="Shift Date column.  The Day the shift occurs">
                            @Html.DisplayFor(model => item.ShiftDate)
                        </td>
                        <td class="d-none d-md-table-cell" title="Shift Range column.  The hours of a given shift from start to end.">
                            @Html.DisplayFor(model => item.ShiftRange)
                        </td>
                        <td>
                            @if(item.ShiftDate.ToDateTime(TimeOnly.MinValue).Date == today.Date){

                                if (item.ShiftVolunteers.Any(s => s.ClockIn == null))
                                {
                                    <a class="btn btn-outline-primary" asp-action="ClockIn" asp-route-VolunteerID="@volunteer.ID" title="Clock into today's shift." asp-route-id="@item.ID">Clock-In</a>
                                }
                                else if (item.ShiftVolunteers.Any(s => s.ClockOut == null))
                                {
                                    <a class="btn btn-outline-primary" asp-action="ClockOut" asp-route-VolunteerID="@volunteer.ID" title="Clock out of today's shift." asp-route-id="@item.ID">Clock-Out</a>
                                }
                            }
                            
                            <button title="Click to view shift details" type="button" class="btn btn-primary" data-toggle="modal" data-target="#vol-shift-details-modal">
                                Details
                            </button>
                            <partial name="_VolshiftDetails" model="item.ShiftVolunteers.FirstOrDefault()" />

                            <button title="click to cancel shift" type="button" class="btn btn-outline-danger" data-toggle="modal" data-target="#vol-shift-cancel-modal">
                                Cancel
                            </button>
                            <form asp-controller="VolunteerShift" asp-action="Cancel" asp-route-id="@item.ID">
                                <partial name="_Cancel" model="item.ShiftVolunteers.FirstOrDefault()" />
                            </form>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }

    <h2>Registered Events</h2>

    PaginatedList<Event> events = ViewBag.Events;
    <partial name="_EventList" model="events" />
    
    
}

