@model IEnumerable<TVAttendance.Models.Event>

@{
    ViewData["Title"] = "Event Index";
}

@if (TempData["Message"] != null)
{
    <div class="alert alert-info">@TempData["Message"]</div>
}


<h1>Events</h1>
<form asp-action="Index" method="get">
    <input type="hidden" name="sortDirection" value="@ViewData["sortDirection"]" />
    <input type="hidden" name="sortField" value="@ViewData["sortField"]" />
    <!--create button-->
    <div class="d-flex justify-content-between align-items-center mb-3 flex-wrap">
        @if (User.IsInRole("Director") || User.IsInRole("Supervisor") || User.IsInRole("Admin"))
        {
            <!-- Filter Button -->
            <div>
                <button class="btn @ViewData["Filtering"]" type="button" data-bs-toggle="collapse" id="filterToggle"
                data-bs-target="#collapseFilter" aria-expanded="false" aria-controls="collapseFilter">
                    Filter/Search @ViewData["numFilters"]
                </button>
            </div>
            <!-- Create Button -->
            <div class="buttons-align-right">
                <a asp-action="Create" class="btn btn-outline-success" title="Create new Event.">Create</a>
            </div>
        }
    </div>
        <!-- Collapsible Filter Form -->
        @if (User.IsInRole("Director") || User.IsInRole("Supervisor") || User.IsInRole("Admin"))
    {
        <div class="collapse @ViewData["ShowFilter"]
        " id="collapseFilter">
            <div class="card card-body bg-light">
                <form method="get">
                    <div class="row">
                        <!-- name filter -->
                        <div class="form-group col-md-3">
                            <label title="Filter by characters in a Events name" class="control-label">Search Event Name:</label>
                            @Html.TextBox("EventName", null, new { @class = "form-control" })
                        </div>
                        <!-- Date Range -->
                        <div class="form-group col-md-3">
                            <label class="control-label">From Date:</label>
                            @Html.TextBox("FromDate", null, new { @id = "date-older", @type = "date", @class = "form-control" })
                        </div>
                        <div class="form-group col-md-3">
                            <label class="control-label">To Date:</label>
                            @Html.TextBox("ToDate", null, new { @id = "date-newer", @type = "date", @class = "form-control" })
                        </div>
                        <div class="form-group" title="Filter by active or inactive singers.">
                            <label class="control-label">Filter by Active Status:</label>
                            @Html.DropDownList("ActiveStatus", new List<SelectListItem>
                            {
                            new SelectListItem { Value = "true", Text = "Open" },
                            new SelectListItem { Value = "false", Text = "Closed" }
                            }, htmlAttributes: new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                        </div>
                        <div class="form-group align-self-end">
                            <input type="submit" name="actionButton" value="Filter"
                            class="btn btn-outline-primary" />
                            <a asp-action="Index" class="btn btn-outline-dark">Clear</a>
                        </div>

                    </div>
                </form>
            </div>
        </div>
        @if (User.IsInRole("Director") || User.IsInRole("Supervisor") || User.IsInRole("Admin"))
        {
            <form asp-action="UploadExcel" method="post" enctype="multipart/form-data">
                <input type="file" name="file" class="form-control mb-2" required />
                <div class="d-flex gap-2">
                    <button type="submit" class="btn btn-success w-100">Upload Excel</button>
                    <a asp-action="DownloadTemplate" class="btn btn-primary w-100 text-center">Download Template</a>
                </div>
            </form>
        }
    }

    <table class="table">
        <thead>
            <tr>
                <th>
                    <button type="submit" name="actionButton" value="EventName" class="btn-filter" title="Click to sort by Event Name">Name</button>
                </th>
                <th class="d-none d-xl-table-cell">
                    <button type="submit" value="EventCity" class="btn-filter" title="Event City Name">City</button>
                </th>
                <th class="d-none d-lg-table-cell">
                    <button type="submit" value="EventProvince" class="btn-filter" title="Event Province">Province</button>
                </th>
                <th class="d-none d-sm-table-cell">
                    <button type="submit" value="EventDate" class="btn-filter" title="Event date start and end">Event Date</button>
                </th>
                <th class="d-none d-lg-table-cell">
                    <button type="submit" name="actionButton" value="EventStart" class="btn-filter" title="Event time start and end">Event Time</button>
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.EventName)
                    </td>
                    <td class="d-none d-xl-table-cell">
                        @Html.DisplayFor(modelItem => item.EventCity)
                    </td>
                    <td class="d-none d-lg-table-cell">
                        @Html.DisplayFor(modelItem => item.EventProvince)
                    </td>
                    <td class="d-none d-sm-table-cell">
                        @Html.DisplayFor(modelItem => item.EventDate)
                    </td>
                    <td class="d-none d-lg-table-cell">
                        @Html.DisplayFor(modelItem => item.EventTime)
                    </td>
                    <td>
                        @if (User.IsInRole("Director") || User.IsInRole("Supervisor") || User.IsInRole("Admin"))
                        {
                            <a class="btn btn-outline-primary" asp-action="Edit" asp-route-id="@item.ID">Edit</a>
                        }
                        <a class="btn btn-outline-primary" asp-controller="EventShift" asp-action="Index" asp-route-EventID="@item.ID">Details</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

        <partial name="_PagingNavBar" />
</form>

@section Scripts {
    <script type="text/javascript">
        var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
        var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
            return new bootstrap.Tooltip(tooltipTriggerEl)
        })
    </script>
}