@model IEnumerable<TVAttendance.Models.Director>

@{
    ViewData["Title"] = "Index";
}

<h1>Directors</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<a href="@Url.Action("Index")" class="btn btn-primary">Show Currently Active</a>
<a href="@Url.Action("Index", new { showArchived = true })" class="btn btn-secondary">Show Archived</a>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FullName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                    @if(item.Status == true)
                    {
                        <a href="@Url.Action("Archive", new { id = item.ID })">Archive</a>
                    }
                    @if (item.Status == false)
                    {
                        <a href="@Url.Action("Restore", new { id = item.ID })">Restore</a>
                    }
                </td>
        </tr>
}
    </tbody>
</table>

<script>

</script>


