@model IEnumerable<TVAttendance.ViewModels.CalendarVM>
@{
    string[] daysOfWeek = { "Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday" };
    string[] daysOfWeekShortened = { "Sun", "Mon", "Tue", "Wed", "Thu", "Fri", "Sat" };
    //Made 2 just to test which one we like better
    //Total days in current month (feb is 28)
    int daysInMonth = Model.Count();
    //First day of the month, but get the position it is at in the calander grid.
    var firstDay = Model.First().Date.DayOfWeek;
    //Ex for this month, int emptyCells = 6, because Saturday is the 1st day of February.
    int emptyCells = (int)firstDay;
    //Next get the total cells required for the calander, including the empty days
    int totalCells = emptyCells + daysInMonth;

    //Previous month days
    DateTime prevMonth = Model.First().Date.AddMonths(-1);
    int prevMonthDays = DateTime.DaysInMonth(prevMonth.Year, prevMonth.Month);

    //Next month days
    var lastDay = Model.Last().Date.DayOfWeek;
    int extraCells = 7 - (int)lastDay;
}

@Html.Partial("_DetailsPartial")

<head>
    <link rel="stylesheet" href="~/css/calendar.css" asp-append-version="true" />
</head>

<body>
    <div class="calendar-dow">
        @for (int d = 0; d <= 6; d++)
        {
            <div class="calendar-cell">
                <span>@daysOfWeekShortened[d]</span>
            </div>
        }
    </div>
    <!--Selected month calander-->
    <div class="calendar-grid">
        <!--Empty cells calander before month begins-->
        @for (int i = emptyCells; i > 0; i--)
        {
            <div class="calendar-cell-empty">
                <h2>@(prevMonthDays - i + 1)</h2>
            </div>
        }
        @foreach (var day in Model)
        {
            //Create div
            <div class="calendar-cell">
                <h2>@day.Date.Day</h2>
                <div class="calendar-event">
                    @if (day.EventLst.Any()) //if there is an event
                    {
                        //Create a button that will bring you to the details modal
                        var eventID = day.EventLst.First().ID;
                        <button class="btn btn-outline-secondary event-details-btn"
                                data-toggle="modal" data-target="#detailsVolunteerEventModal"
                                type="button" title="Click to view details on the event"
                                onclick="viewEventDetails(@eventID)">
                            Event Occurred
                        </button>

                    }
                    else
                    {
                        <div class="calendar-empty"></div>
                        <!-- Leave empty, Not sure what to do with this-->
                    }
                </div>
            </div>
        }
        @for (int i = 1; i < extraCells; i++)
        {
            //Empty days get a h2 with the current number day of month
            <div class="calendar-cell-empty">
                <h2>@i</h2>
            </div>
        }
    </div>
    <script type="text/javascript">
        function viewEventDetails(eventID) {
            $.ajax({
                url: '@Url.Action("GetEventDetails", "VolunteerEvent")',
                type: 'GET',
                data: { id: eventID },
                success: function (data) {
                    console.log("Success", data);
                    if (data) {
                        $('#VolunteerEventModalTitle').text(data.name);
                        $('#eventDetailsLabel').text(data.description + "\n" + data.timing);
                        let volunteerListHtml = "<ul>";
                        data.volunteers.forEach(vol => {
                            volunteerListHtml += `<li>${vol.fullName}</li>`;
                        });
                        volunteerListHtml += "</ul>";

                        $('#modalEventContent').html(volunteerListHtml);

                        $('#detailsVolunteerEventModal').modal('show');

                    }

                },
                error: function () {
                    alert('Error loading details');
                }
                });
            }
      
    </script>
</body>
