@model IEnumerable<TVAttendance.Models.VolunteerEvent>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Event)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Volunteer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ShiftAttended)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ShiftStart)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ShiftEnd)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NonAttendanceNote)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Event.EventName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Volunteer.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ShiftAttended)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ShiftStart)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ShiftEnd)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NonAttendanceNote)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
