@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled='disabled'" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled='disabled'" : "";
}
<nav aria-label="Page navigation">
    <ul class="pagination justify-content-center pagination-sm mt-3">
        <li class="page-item">
            <button type="submit" name="page" value="1" class="btn page-link">« First</button>
        </li>
        <li class="page-item">
            <button type="submit" name="page" value="@(Model.PageIndex - 1)" class="btn page-link">‹ Previous</button>
        </li>
        <li class="page-item active">
            <button type="button" class="btn page-link page-active">Page @Model.PageIndex of @Model.TotalPages</button>
        </li>
        <li class="page-item">
            <button type="submit" name="page" value="@(Model.PageIndex + 1)" class="btn page-link">Next ›</button>
        </li>
        <li class="page-item">
            <button type="submit" name="page" value="@(Model.TotalPages)" class="btn page-link">Last »</button>
        </li>
    </ul>
</nav>
