@model TVAttendance.Models.Chapter

@{
    ViewData["Title"] = "Chapter Details";
}

<h1>Chapter Details</h1>

<hr />

<div class="card shadow p-3 mb-4">
    <dl class="row">
        <dt class="col-sm-3">City:</dt>
        <dd class="col-sm-9">@Model.City</dd>

        <dt class="col-sm-3">Street Address:</dt>
        <dd class="col-sm-9">@Model.Street</dd>

        <dt class="col-sm-3">Province:</dt>
        <dd class="col-sm-9">@Model.Province</dd>

        <dt class="col-sm-3">Postal Code:</dt>
        <dd class="col-sm-9">@Model.ZipCode</dd>

        <dt class="col-sm-3">Choir Director:</dt>
        <dd class="col-sm-9">@Model.Director?.FirstName @Model.Director?.LastName</dd>

        <dt class="col-sm-3">Status:</dt>
        <dd class="col-sm-9">@Model.Status</dd>
    </dl>
</div>

<!-- Actions -->
<div>
    <a asp-action="Edit" asp-route-id="@Model.ID" class="btn btn-primary">Edit</a>
    <a asp-action="Index" class="btn btn-outline-secondary">Back to List</a>
</div>
